.circuloGrande {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid rgb(255, 255, 255); 
}

.circuloGrandeInterior{
    width: 49px;
    height: 49px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1635bd;
}

.circuloChico {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255); 
}

.divFlexHorizontal{
    display: flex;
    flex-direction: row;
}

.circulosDeColores{
    margin-left: 50px;
}

.marginCirculos{
    margin-left: 20px;
}

.colorRojo{
    background-color: #ff000d !important;
}

.colorAmarillo{
    background-color: #fbff00 !important;
}


.colorVerde{
    background-color: #2bff00 !important;
}


.buscador{
    height: 100px;
    display: flex;
    padding: 20px;
    border-bottom: 10px solid #7e171c;
    background-color: #ee2b34 !important;
}

/* efecto de parpadeo */
.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }